*
!*/

!/home.nix
!/flake.nix
!/configuration.nix
!/hardware-configuration.nix
!/flake.lock
!/nixos/**
!/home-manager/**
!/secrets.nix

!/README.md
!/mklink.sh
!/latexmkrc
!/vimrc
!/.gitignore
!/vim/**
/vim/undo/*
/vim/nundo/*
!/vim/undo/.gitkeep
!/vim/nundo/.gitkeep
/vim/minimum_vimrc/*
!/.github/**
!/public/**
!/homebrew/**
!/hammerspoon/**
!/config/efm-langserver/*
!/config/gh/config.yml
!/config/i3/config
!/config/karabiner/**
!/config/sway/*
