*
!*/

!/README.md
!/mklink.sh
!/gitmessage
!/latexmkrc
!/vimium-options.json
!/vimrc
!/xremap.yml
!/zprofile
!/zshrc
!/.gitignore
!/zsh/*
!/vim/**
/vim/undo/*
/vim/nundo/*
!/vim/undo/.gitkeep
!/vim/nundo/.gitkeep
/vim/minimum_vimrc/*
!/.github/**
!/public/**
!/homebrew/**
!/hammerspoon/**
!/w3m/keymap
!/config/wezterm/wezterm.lua
!/config/gh/config.yml
!/config/git/*
!/config/karabiner/**
!/config/powerline-shell/config.json
!/config/systemd/user/*.service
!/config/i3/config
!/config/sway/*
!/config/swaylock/*
!/config/waybar/*
