*
!*/

!/flake.nix
!/flake.lock
!/nixos/**
!/home-manager/**
!/systems/**
!/_sources/**
!/packages/**
!/nvfetcher.toml
!/secrets.nix

!/README.md
!/latexmkrc
!/.gitignore
!/vim/**
/vim/undo/*
/vim/nundo/*
!/vim/undo/.gitkeep
!/vim/nundo/.gitkeep
!/.github/**
!/public/**
!/homebrew/**
!/hammerspoon/**
!/config/efm-langserver/*
!/config/gh/config.yml
!/config/i3/config
!/config/karabiner/**
!/config/sway/*
