extends c

### Python

### snippet

snippet priority_queue_greater "use greater"
priority_queue<${1}, vector<$1>, greater<$1>> ${2:Q};
endsnippet

snippet unique "unique and resize"
${1:c}.erase(unique(begin($1), end($1)), end($1));
endsnippet

snippet in "useful for input"
`!p
line = vim.eval('getline(".")')
m = re.search('((?:\w+, ?)*\w+)[]:;]', line)
snip.rv = ''
if m:
	snip.rv = 'cin >> ' + re.sub(', ?', ' >> ', m.group(1)) + ';'
`
endsnippet
