[Unit]
Description=xremap

[Service]
# sleep workaround from https://github.com/k0kubun/xremap/issues/105#issuecomment-1190994137
ExecStartPre=/bin/sleep 1
ExecStart=%h/.cargo/bin/xremap --watch=device %h/dotfiles/xremap.yml
Restart=always

[Install]
WantedBy=default.target
